<!DOCTYPE html>
<html>
<head>
	<title>Stock Scraper</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
	<header>
		
	</header>
	<main>
		<form method='GET' action='/result'>
			<div class="form-group" style="font-size: 16px">
				<label>Stock code</label>
				<input class="form-control" type="text" placeholder="Enter" name="code">
				<button id='submit' class="btn btn-danger btn-sm col-sm-offset-6" type="submit"><span class="fa fa-lock"></span> Submit</button>
			</div>
		</form>
	</main>
	<footer>
		
	</footer>
</body>
    <script type="text/javascript" src="javascripts/main.js"></script>
</html>